#window{
    box-sizing: content-box;
    border-radius: 20px;
    align-content: center;
    padding: 15px;
    background-color: RGB(165, 160, 156);
    margin-top: 50px;
    border-width: medium;
}
.background{
    background-color:RGB(225, 219, 206);
}
.login {
    border-radius: 10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(126, 147, 146, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.login:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
}
.swapbox_select{
    width: 40%;
    float: left;
}
.Swapbox{
    border: 1.5px solid black;
    border-radius: 20px;
    background-color: rgb(228, 220, 224);
    padding: 20px 20px;
    margin: 20px 0;
    min-height: 100px;
    overflow: auto;
    align-items: center;
    margin: 3px;
}

.token_select{
    padding: 5px;
    border-radius: 20px;
    width: fit-content;
    min-width: 150px;
    min-height: 50px;
    margin-right: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    width: 100%;
}

#swap_button {
    border-radius: 20px;
    width: 60%;
    position: relative;
    left: 20%;
    backdrop-filter: blur(12px) saturate(68%);
    -webkit-backdrop-filter: blur(12px) saturate(68%);
    background-color: rgba(17, 25, 40, 0.51);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    
}
#swap-button:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
}

.token_select:hover{
    background-color:rgba(90, 88, 88, 0.085);
    cursor: pointer;
    border-radius: 20px;
    transform: scale(1.075);
    transition: 0.2s ease-in;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.show {
    display:block;
}
.token_list_img, .token_image{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.token_image, .token_text {
    display: inline-block;
}

#to_token_select, #from_token_select {
    font-weight: bold;
    border: black solid 1.5px;
    text-align: center;
}

.modal-body{
    height: 600px;
    overflow: overlay;
    padding: 0%;
    background-color:transparent;
}
.token_row{
    padding: 5px 10px;
}

.token_row:hover{
    padding: 5px 10px;
    background-color:rgb(153, 152, 152);
    cursor: pointer;
    width: 40px 40px;
}
.modal-header {
    padding: 25px;
    background-color: rgb(90, 90, 90);
}
.swapbox_title {
    text-align: center;
}

.amount {
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid darkgray;
    outline: none;
    right: 20px;
    size: a3;
    position: absolute;
    width: 60%;
    min-height: 50px;
    text-align: right;
    letter-spacing: 1px;
    margin-right: 20px;
}
.search {
    width: 140px;
    top: 10px;
    position: absolute;
    left: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid darkgray;
    outline: none;
}
.close {
    position: absolute;
    cursor: pointer;
    color: black;
    top: 10px;
    right: 10px;
}
.modal-title {
    object-position: center;
    left: 200px;
    position: absolute;
    top: 10px;
}
.swapbox_select .token_select{
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}
#switch_button {
    border-radius: 20px;
    cursor: pointer;
    border: black solid 1.5px;
    background-color: rgb(228, 220, 224);
}

#switch_button:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
}

.btn:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in;
}